<a href="https://colab.research.google.com/github/razankablan/razankablan-data-analysis-exercises/blob/main/Chapter_3_uploads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import glob
import os

# Step 1: combine all CSV files in the current directory
files = glob.glob("*.csv")

# Step 2: Read and process each file
faang_list = []
for file in files:
    # Read the CSV
    df = pd.read_csv(file)

    # Extract ticker symbol from file name
    ticker = os.path.splitext(file)[0].upper()

    # Add ticker column
    df["ticker"] = ticker

    # Append to list
    faang_list.append(df)

# Step 3: Combine all dataframes into one
faang = pd.concat(faang_list, ignore_index=True)

# Step 4: Save combined dataframe to CSV
faang.to_csv("faang.csv", index=False)

# Show first few rows
print(faang.head())

         date      open      high       low     close    volume ticker
0  2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934   AAPL
1  2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899   AAPL
2  2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597   AAPL
3  2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018   AAPL
4  2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766   AAPL

In [10]:
import os

print(os.listdir())

['.config', 'aapl.csv', 'amzn.csv', 'faang.csv', 'fb.csv', 'nflx.csv', 'goog.csv', 'sample_data']

In [11]:
import pandas as pd
import glob
import os

# List of FAANG tickers
faang_tickers = ["FB", "AAPL", "AMZN", "NFLX", "GOOG"]

faang_list = []
for file in glob.glob("*.csv"):
    filename = os.path.basename(file)
    name_no_ext = os.path.splitext(filename)[0]
    ticker = name_no_ext.upper()


    if ticker in faang_tickers:
        df = pd.read_csv(file)
        df["ticker"] = ticker
        faang_list.append(df)

# Combine into one dataframe
faang = pd.concat(faang_list, ignore_index=True)

# Save combined file
faang.to_csv("faang.csv", index=False)

print(faang.head())
print("Data combined for tickers:", faang["ticker"].unique())

         date      open      high       low     close    volume ticker
0  2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934   AAPL
1  2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899   AAPL
2  2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597   AAPL
3  2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018   AAPL
4  2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766   AAPL
Data combined for tickers: ['AAPL' 'AMZN' 'FB' 'NFLX' 'GOOG']

In [12]:
import pandas as pd
import glob
import os

# FAANG tickers
faang_tickers = ["FB", "AAPL", "AMZN", "NFLX", "GOOG"]

faang_list = []
for file in glob.glob("*.csv"):
    filename = os.path.basename(file)
    name_no_ext = os.path.splitext(filename)[0]
    ticker = name_no_ext.upper()

    if ticker in faang_tickers:
        df = pd.read_csv(file)
        df["ticker"] = ticker
        faang_list.append(df)

# Combine into one dataframe
faang = pd.concat(faang_list, ignore_index=True)

# Save the combined result
faang.to_csv("faang.csv", index=False)

print("Combined FAANG data saved to faang.csv")
print(faang.head())

Combined FAANG data saved to faang.csv
         date      open      high       low     close    volume ticker
0  2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934   AAPL
1  2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899   AAPL
2  2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597   AAPL
3  2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018   AAPL
4  2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766   AAPL

In [13]:
# Convert date to datetime
faang["date"] = pd.to_datetime(faang["date"], errors="coerce")

# Convert volume to integers
faang["volume"] = faang["volume"].astype(int)

# Sort by date, then ticker
faang = faang.sort_values(by=["date", "ticker"]).reset_index(drop=True)

print(faang.head())
print(faang.dtypes)

        date       open       high        low      close    volume ticker
0 2018-01-02   166.9271   169.0264   166.0442   168.9872  25555934   AAPL
1 2018-01-02  1172.0000  1190.0000  1170.5100  1189.0100   2694494   AMZN
2 2018-01-02   177.6800   181.5800   177.5500   181.4200  18151903     FB
3 2018-01-02  1048.3400  1066.9400  1045.2300  1065.0000   1237564   GOOG
4 2018-01-02   196.1000   201.6500   195.4200   201.0700  10966889   NFLX
date      datetime64[ns]
open             float64
high             float64
low              float64
close            float64
volume             int64
ticker            object
dtype: object

In [14]:
# Get top 7 rows by volume
top7_volume = faang.nlargest(7, "volume")

print(top7_volume)

           date      open      high       low     close     volume ticker
712  2018-07-26  174.8900  180.1300  173.7500  176.2600  169803668     FB
267  2018-03-20  167.4700  170.2000  161.9500  168.1500  129851768     FB
287  2018-03-26  160.8200  161.1000  149.0200  160.0600  126116634     FB
272  2018-03-21  164.8000  173.4000  163.3000  169.3900  106598834     FB
910  2018-09-21  219.0727  219.6482  215.6097  215.9768   96246748   AAPL
1225 2018-12-21  156.1901  157.4845  148.9909  150.0862   95744384   AAPL
1060 2018-11-02  207.9295  211.9978  203.8414  205.8755   91328654   AAPL

In [15]:
# Melt into long format
faang_long = faang.melt(
    id_vars=["date", "ticker"],               # identifiers
    value_vars=["open", "high", "low", "close", "volume"],  # variables to melt
    var_name="variable",
    value_name="value"
)

print(faang_long.head(10))

        date ticker variable      value
0 2018-01-02   AAPL     open   166.9271
1 2018-01-02   AMZN     open  1172.0000
2 2018-01-02     FB     open   177.6800
3 2018-01-02   GOOG     open  1048.3400
4 2018-01-02   NFLX     open   196.1000
5 2018-01-03   AAPL     open   169.2521
6 2018-01-03   AMZN     open  1188.3000
7 2018-01-03     FB     open   181.8800
8 2018-01-03   GOOG     open  1064.3100
9 2018-01-03   NFLX     open   202.0500